.bouton{
  background-color: $couleur-secondaire;
  color: white;
  border-radius: 5px;
  padding: $rythme-tres-mince;
  font-weight: bold;
}

.bouton.contact{
  background-color: white;
  max-width: max-content;
  color: black;
}

.bouton.galerie{
  background-color: white;
  border: 3px solid $couleur-secondaire;
  color: black;
  display: block;
  width: max-content;
}