[id="nav-pied-page"]{
    border-top: 2px solid lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: $rythme-moyen;
}

[id="nav-pied-page"] .flex-avec-gap{
    flex-direction: column;
}

[id="nav-pied-page"] .menu ul{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

[id="nav-pied-page"] ul{
    list-style-type: none;
}