.footer{
    text-align: center;
    background-color: $couleur_bg_footer;
    padding: 20px;
}

.footer__social{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: $__12px;
}

.footer__social__img{
    max-width: 26px;
}