.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo{
        max-width: 90px;
    }
    
    &__nav{
       display: flex;
       gap: 20px;
       align-items: center;
    }
}


